/* Based on 1366 x 768 screen resolution */
body {
  max-width: 1200px;
  max-height: 720px;
  margin: 0 auto;
}

/* Top half of page */

#game-space {
  display: grid;
  width: 1200px;
  height: 500px;
  margin: 20px auto;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 92% 8%;
}

.player-controlled {
  display: grid;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  grid-template-columns: 10% 80% 10%;
}

.player-hand-card,
.play-area-card,
.inactive-card {
  border: 2px solid black;
  border-radius: 5px;
  height: 120px;
  width: 80px;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 50%;
}

.char-area {
  background-color: aliceblue;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#player-area,
#player-image,
#help-section {
  grid-area: 1/1/2/2;
}

#computer-area,
#computer-image {
  grid-area: 1/3/2/4;
}

#player-image {
  z-index: 1;
  margin: 60% 10% 10% 20%;
}

#computer-image {
  margin: 30% auto;
}

/* Styling for help box */

#help-section {
  z-index: 2;
  position: relative;
}

#help-text {
  margin: 10px;
}

#help-text,
#combination-text {
  padding: 10px;
  height: fit-content;
  border: 2px solid black;
  background-color: white;
  transition: all 0.5s;
  border-radius: 10px;
}

#help-text ul,
#combination-text ol {
  list-style-position: inside;
  margin-block-start: 0.5em;
  padding-inline-start: 0;
  margin-inline-start: 0;
}

.help-text-bold {
  font-weight: bold;
}

.help-text-card {
  color: darkgreen;
  background-color: rgb(200, 255, 200);
}

@keyframes rainbow-text {
  25% {
    color: darkred;
  }
  50% {
    color: darkgreen;
  }
  75% {
    color: darkblue;
  }
  100% {
    color: darkgoldenrod;
  }
}

.help-text-special {
  color: darkgoldenrod;
  animation: linear infinite 4s rainbow-text;
}

#combination-text {
  position: absolute;
  left: 120%;
  top: 42%;
  width: 150%;
}

.help-hide {
  opacity: 0;
  visibility: hidden;
}

/* On-screen communicative elements */

#info-space {
  grid-area: 1/2/3/3;
  display: grid;
  grid-template-rows: 50% 25% 25%;
}

#play-area {
  display: grid;
  grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;
  align-items: center;
  justify-items: center;
}

#damage-info {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  align-items: center;
  justify-items: center;
}

.play-text {
  font-size: 40px;
  margin: auto 10px;
  text-align: center;
}

.damage-text {
  background-color: rgb(255, 200, 200);
  color: darkred;
}

.block-text {
  background-color: rgb(200, 200, 255);
  color: darkblue;
}

#versus {
  font-size: 40px;
  font-weight: bold;
}

#played-move {
  display: flex;
  justify-self: end;
}

#computer-move {
  display: flex;
  justify-self: start;
}

.health-bar {
  background-color: greenyellow;
  max-width: 100%;
}

.damage-bar {
  background-color: red;
  max-width: 100%;
}

.health-counter {
  z-index: 2;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

#player-health-bar,
#player-health-counter,
#player-health-bar-border,
#player-damage-bar {
  grid-area: 2/1/3/2;
}

#player-health-bar {
  width: 100%;
  z-index: 1;
}

#player-damage-bar {
  width: 100%;
}

#player-health-bar-border,
#computer-health-bar-border {
  z-index: 2;
  border: 2px solid black;
}

#computer-health-bar,
#computer-health-counter,
#computer-health-bar-border,
#computer-damage-bar {
  grid-area: 2/3/3/4;
}

#computer-health-bar {
  width: 100%;
  z-index: 1;
}

#computer-damage-bar {
  width: 100%;
}

#computer-health-counter {
  justify-self: center;
}

#computer-health-bar,
#computer-damage-bar {
  justify-self: end;
}

/* Bottom half of page */

.game-state-button,
.player-hand-button {
  width: 80%;
  height: 80%;
  font-size: 20px;
  text-align: center;
  margin: 5px auto;
  cursor: pointer;
}

.game-state-controls {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 5% 50% 20% 20% 5%;
  align-items: center;
  background-color: brown;
  border-radius: 20px 0 0 20px;
}

#start-button {
  grid-row: 3/4;
}

#restart-button {
  grid-row: 4/5;
}

.player-hand-controls {
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 5% 20% 20% 20% 30% 5%;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: goldenrod;
}

#accept-move-button {
  grid-row: 2/3;
}

#return-move-button {
  grid-row: 3/4;
}

#sort-hand-button {
  grid-row: 4/5;
}

button:disabled {
  cursor: no-drop;
}

#player-hand {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  justify-items: center;
  align-items: center;
  background-color: burlywood;
}

#area-one {
  grid-column: 2/3;
}

/* Alternate sizing for smaller screens */
@media screen and (max-height: 720px) {
  body {
    max-width: 1000px;
    max-height: 600px;
  }

  #game-space {
    max-width: 1000px;
    max-height: 400px;
  }

  .play-text {
    font-size: 32px;
  }

  .player-controlled {
    max-width: 1000px;
    max-height: 140px;
  }

  .player-hand-card,
  .play-area-card,
  .inactive-card {
    height: 100px;
    width: 70px;
    background-position: 50% 80%;
  }

  .game-state-button,
  .player-hand-button {
    width: 80%;
    height: 80%;
    font-size: 16px;
    text-align: center;
    margin: 5px auto;
    cursor: pointer;
  }

  #player-image,
  #computer-image {
    max-width: 100%;
  }
}

/* Card graphics */
.earth {
  background-image: url("yellow.png");
}

.fire {
  background-image: url("red.png");
}

.storm {
  background-image: url("green.png");
}

.water {
  background-image: url("blue.png");
}

@keyframes wildcard {
  0% {
    background-image: url("blue.png");
  }
  25% {
    background-image: url("yellow.png");
  }
  50% {
    background-image: url("red.png");
  }
  75% {
    background-image: url("green.png");
  }
  100% {
    background-image: url("blue.png");
  }
}

.wild {
  background-image: url("blue.png");
  animation-name: wildcard;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Text colourings */

#earth-text {
  color: rgb(175, 125, 50);
}

#fire-text {
  color: rgb(200, 50, 50);
}

#storm-text {
  color: rgb(25, 150, 25);
}

#water-text {
  color: rgb(50, 50, 200);
}

/* Priority styling (mainly for hiding elements) */

.inactive-info {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.inactive-card {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(100, 100, 100, 0.2);
  color: rgba(0, 0, 0, 0);
  background-image: none;
  cursor: context-menu;
}
