/* REMINDER! Remove borders when styling, unless borders are to be left in. */
h2 {
  margin: 0 auto;
  text-align: center;
}

.game-space {
  display: grid;
  width: 600px;
  margin: 10px auto;
  /* border: 1px solid black; */
  grid-template-columns: 150px 300px 150px;
  grid-template-rows: 140px 10px;
}

.char-area {
  border: 1px solid blue;
}

.play-area {
  /* border: 1px solid red; */
  grid-area: 1/2/3/3;
  display: grid;
  grid-template-columns: 25px 50px 50px 50px 50px 50px 25px;
  align-items: center;
}

.health-bar {
  background-color: greenyellow;
  /* border: 1px solid black; */
  max-width: 150px;
}

.health-counter {
  z-index: 1;
  font-size: 7px;
  text-align: center;
  margin: auto;
  /* background-color: white;
  border: 1px solid black; */
}

#player-health-bar,
#player-health-counter,
#player-health-bar-border {
  grid-area: 2/1/3/2;
}

#player-health-bar {
  width: 100%;
}

#player-health-bar-border,
#computer-health-bar-border {
  z-index: 1;
  border: 1px solid black;
}

#computer-health-bar,
#computer-health-counter,
#computer-health-bar-border {
  grid-area: 2/3/3/4;
}

#computer-health-bar {
  width: 100%;
}

#computer-health-counter {
  justify-self: center;
}

#computer-health-bar {
  justify-self: end;
}

.player-controlled {
  display: grid;
  /* border: 1px solid black; */
  width: 600px;
  height: 100px;
  margin: 0 auto;
  grid-template-columns: 50px 500px 50px;
}

.game-state-button,
.player-hand-button {
  width: 40px;
  height: 16px;
  font-size: 8px;
  text-align: center;
  margin: 1px auto;
  cursor: pointer;
}

.game-state-controls {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 5px 50px 20px 20px 5px;
  align-items: center;
  background-color: brown;
  border-radius: 5px 0 0 5px;
}

#start-button {
  grid-row: 3/4;
}

#restart-button {
  grid-row: 4/5;
}

.player-hand-controls {
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 5px 20px 20px 20px 30px 5px;
  align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: goldenrod;
}

#accept-move-button {
  grid-row: 2/3;
}

#return-move-button {
  grid-row: 3/4;
}

#sort-hand-button {
  grid-row: 4/5;
}

.player-hand {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  justify-items: center;
  align-items: center;
  background-color: burlywood;
}

.player-hand-card,
.play-area-card,
.inactive-card {
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#area-one {
  grid-column: 2/3;
}

.inactive-card {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(100, 100, 100, 0.2);
  color: rgba(0, 0, 0, 0);
}
